div{
    margin:15px;

}

footer{
    position:fixed;
    width:100%;
    background-color: rgb(14, 1, 11);
    bottom: 0px;
    left:0px;
    color: white;
    text-align: center;
    height:50px;
    
}

body{
    background-color: gray;
    text-align: center;
    font-size: 25px;
}

input,button,select{
    font-size: 20px;
}